<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.jpeg' %}" sizes="32x32" type="image/jpeg">
    <title>
        {% block title %}  {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body class='main-bg'>

    <header>
        <div class='header-bg'> {% block header %}{% endblock header %}
            
        </div>
    </header>

    {% block content %}{% endblock content %}

    <footer>

    </footer>

</body>

</html>