<div class="container">
    <h2>Gerenciamento de Clientes</h2>

    <!-- Botão para Registrar Cliente -->
    <div class="mb-3">
        <a href="{% url 'user:register_get' %}" class="btn btn-primary">Registrar Cliente</a>
    </div>

    <!-- Lista de todos os usuários do grupo "clients" -->
    <div class="card">
        <div class="card-header">
            Lista de Clientes
        </div>
        <ul class="list-group list-group-flush">
            {% for user in clients %}
                <li class="list-group-item">
                    <a href="{% url 'manager_client' user.username %}">{{ user.username }}</a>
                </li>
            {% empty %}
                <li class="list-group-item">Nenhum cliente encontrado.</li>
            {% endfor %}
        </ul>
    </div>
</div>
