<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action='{% url "create" %}' method='POST'> {% csrf_token %}

        <input type="text" placeholder='Usuário...' name='username'>
        <br>
        <input type="email" placeholder='Email...' name='email'>
        <br>
        <input type="password" placeholder='Senha...' name='password'>
        <br>
        <input type="submit" value='Cadastrar'>
        <br>
        {% if user.is_authenticated %}
            <p>Bem vindo {{ request.user.username }} </p>
            <a href= {% url 'logout' %}>logout</a>
        {% endif %}
    </form>

</body>
</html>