<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action='{% url "login" %}' method='POST'> {% csrf_token %}

        <input type="text" placeholder='Usuário...' name='username'>
        <br>
        <input type="password" placeholder='Senha...' name='password'>
        <br>
        <input type="submit" value='Login'>
        <br>

    </form>

</body>
</html>