
<div class="main-content">
    <form action="{% url "user:create" %}" method='POST'>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}
                {% if field.help_text %}
                    {{field.help_text}}
                {% endif %}
                {{field.errors}}
            </div>
        {% endfor %}
            <div class="form-group">
                <button type="submit">Enviar</button>
            </div>
    </form>
</div>
